

.resize img{
    width: 60px;
}
.resize2 img{
    width: 55px;
}
.resize1 img{
    height: 200px;
    width: auto;
}

.counter img{
    width: 100%;
}

.arrow img{
    height: 30px;
    width: 30px;
}

.green-line{
    height: 4px;
    width: 100%;
    background-color: green;
}
.black-line{
    height: 1px;
    width: 100%;
    background-color: gray;
}

.card{
    border: var(--bs-card-border-width) solid var(--bs-card-bg);
}

.orange-text{
    color: #DA924E;;
}

.contract-width{
    max-width: 600px;
}


